#title {
    text-align: center;
    font-size: 50px;
}

.counterBox {
    display: flex;
    flex-direction: column;

}

.functionality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
}

#counter {
    margin: 25px;
    font-size: 50px;
    height: 70px;
    padding: 20px;
    border: solid black;
    border-radius: 50%;
}

button {
    font-size: large;
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: grey;
    border: solid grey;
}

input {
    height: 20px;
    width: 60px;
    font-size: large;
}
